.testimonial-minimal{
    .client-img{
        width: 80px;
        height: 80px;
        margin-right: 15px;
        border-radius: 60px;
        text-align: center;
    }
    .entry-review{
        padding: 20px 40px;
    }
}


.slider-minimal{
   .carousel-cell{
       padding-left: 0px !important;
   }
    .entry-review{
        padding: 20px 0px;
    }
}