@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Varela&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//Fonts
$font-varela:    'Varela', sans-serif;
$font-open-sans:    'Open Sans', sans-serif;
$font-Quicksand: 'Quicksand', sans-serif;

//Colors
$default-color: #fff;
// $primary-color-1: #5680E9;
$primary-color-1: #02325e;
$primary-color-2: #84CEEB;
$primary-color-3: #5AB9EA;
$primary-color-4: #eee;
$primary-color-5: #8860D0;
$primary-color-6: #Ef3f61;
$primary-color-7: #ffa41b;
$primary-color-8: #fafafa;
$primary-color-9: #e8e8e8;



$secondary-color-1: #808080;
$secondary-color-2: #2f2f2f;

//Screen Size
$small: 320px;
$medium: 600px;

